:root{
    --blue: #bfc7f7;
    --dark-blue: #2b1bbb;
    --light-blue: #bbe1f0;
    --orange: #fa8408;
    --yellow: #f7f50c;
    --black-black: #000;
    --light-black: #343434;
    --white-white: #ffffff;
    --off-white: #a78080ab;
    --letter: #c5c4c4;
    --shadow: 0 1px 5px rgba(63, 15, 175, 0.61);
}
html{
    box-sizing: border-box;
    background-color: var(--blue);
  }
  *,
  *::before
  *::after{
  box-sizing: border-box;
  }
  body{
    margin: 0;
    font-size: 1.3 rem;
    font-family: 'Roboto, sans-serif;'
  }
  img{
    max-width: 100%;
    padding-top: 10px;
    align-self: center;
  }
  .wrap{
    margin: 0 auto;
    padding: 0 4%;
  }
  
  
  
  h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
      font-family: "Roboto";
      font-weight: 700;
      font-style: normal;
  }


  /* heading section */

  .heading-section{
      background-color: var(--orange);
      box-shadow: var(--shadow);
      display: flex;
      flex-direction: row;
      line-height: 4rem;
      justify-content: space-between;
      flex-wrap: nowrap;
  }
  .blue{
      color: var(--dark-blue)

  }
  .yellow{
      color: var(--yellow);
  }

 #company{
     
  }
  #company span{
      color: var(--dark-blue);
      padding: 0;
  }
.bread-crumbs{
    display: flex;
    justify-content: space-between;
}

  /* mast head */
  .mast-head{
height: 75%;
background-color: var(--orange);
text-align: center;
padding: 5%;
box-shadow: var(--shadow);
background-image: url(./images/logo/christina-wocintechchat-com-LDap559l-MU-unsplash.jpg);
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
  }
}
  .mast-head h1{
      font-size: 4rem;
  }
  .mast-head span{
      color: var(--dark-blue);
  }
  .mast-head a{
      text-decoration: none;
      display: inline-block;
      box-shadow: var(--shadow);
      padding: 1.2rem;
      border-radius: .5rem;
      background-color: var(--dark-blue);
      color: white;
  }
  .mast-head a:hover{
      background-color: var(--dark-blue);
      color: var(--yellow);
      text-transform: uppercase ;
  }
  #solution{
      color: var(--orange);
      font-size: 2rem;
  }
  #summary{
      font-weight: 100;
      font-size: 1.2rem;
      line-height: 2rem;
      color: var(--black-black);
  }

  /* services */
  .services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 3rem 3rem 3rem 3rem;
  border-bottom: solid var(--dark-blue);
  border-top: solid var(--dark-blue);
  padding: 3rem 0 3rem 0;

}

.gap{
    padding: 1rem;
}
.card{
    text-align: center;
    /* border-radius: 1.5rem; */
    border-style: 3px groove var(--yellow) ;
    border-radius: 2rem;
    max-width:20rem;
    padding:2rem;
    background-color: var(--blue);
    box-shadow: 5px 5px 5px 5px rgba(3, 4, 46, 0.61);
    margin-bottom: 2rem;
}
.card:hover{
    box-shadow:1px 2px 3px 3px #fa8408;
}
.card img{

    box-shadow:  rgba(3, 4, 46, 0.5);
    border-radius: 2rem;
}
.card h1,h2,h3,p{
    text-shadow: 0 2px 2px rgba(3, 4, 46, 0.5);
}
.btn{
    padding: .6rem;
    border-radius: .6rem;
    background-color: #a0adf5;
    box-shadow:  2px 3px 5px rgba(8, 10, 119, 0.61);
}
h3{
    color: var(--orange);
}
h1{
    text-shadow:5px 3px 2px 0 rgba(333, 444, 333,0.6);
}